library/src/main/resources/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.home.erzi.ch/services"
                  xmlns:hello="http://soap.home.erzi.ch/types/hello"
                  xmlns:ping_1_0="http://soap.home.erzi.ch/types/ping_1_0"
                  targetNamespace="http://soap.home.erzi.ch/services">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://soap.home.erzi.ch/types/hello" schemaLocation="HelloService.xsd"/>
            <import namespace="http://soap.home.erzi.ch/types/ping_1_0" schemaLocation="Ping.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="helloResponse">
        <wsdl:part element="hello:helloResponse" name="helloResponse"/>
    </wsdl:message>
    <wsdl:message name="helloRequest">
        <wsdl:part element="hello:helloRequest" name="helloRequest"/>
    </wsdl:message>
    <wsdl:message name="pingRequest">
        <wsdl:part element="ping_1_0:pingRequest" name="pingRequest"/>
    </wsdl:message>
    <wsdl:message name="pingResponse">
        <wsdl:part element="ping_1_0:pingResponse" name="pingResponse"/>
    </wsdl:message>
    <wsdl:portType name="HelloPort">
        <wsdl:operation name="hello">
            <wsdl:input message="tns:helloRequest" name="helloRequest"/>
            <wsdl:output message="tns:helloResponse" name="helloResponse"/>
        </wsdl:operation>
        <wsdl:operation name="ping_1_0">
            <wsdl:input message="tns:pingRequest" name="pingRequest"/>
            <wsdl:output message="tns:pingResponse" name="pingResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloPortSoap11" type="tns:HelloPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="hello">
            <soap:operation soapAction=""/>
            <wsdl:input name="helloRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="helloResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ping_1_0">
            <soap:operation soapAction=""/>
            <wsdl:input name="pingRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="pingResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloPortService">
        <wsdl:port binding="tns:HelloPortSoap11" name="HelloPortSoap11">
            <soap:address location="https://localhost:8443/services"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>