library/src/main/resources/wsdl/Ping.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://soap.home.erzi.ch/types/ping_1_0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ping_1_0="http://soap.home.erzi.ch/types/ping_1_0">
    <xs:simpleType name="hostNameType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="hostAddressType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="64"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PingRequest">
        <xs:sequence/>
    </xs:complexType>
    <xs:complexType name="PingResponse">
        <xs:sequence>
            <xs:element name="hostName" minOccurs="0" type="ping_1_0:hostNameType"/>
            <xs:element name="hostAddress" minOccurs="0" type="ping_1_0:hostAddressType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="pingRequest" type="ping_1_0:PingRequest"/>
    <xs:element name="pingResponse" type="ping_1_0:PingResponse"/>
</xs:schema>
